
    <div class="card mt-3">
        <div class="card-header">
          Danh mục môn học
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Kiểm thử và triển khai</li>
          <li class="list-group-item">SQL Server</li>
          <li class="list-group-item">Điện toán đám mây</li>
          <li class="list-group-item">Lập trình PHP</li>
          <li class="list-group-item">Lập trình Android cơ bản</li>
          <li class="list-group-item">Lập trình Android nâng cao</li>
          <li class="list-group-item">Thiết kế layout</li>
          <li class="list-group-item">Quản lý dự án với Agle</li>
        </ul>
      </div>

      <div class="card mt-3">
          <div class="card-header">
            Thông tin liên hệ
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Facebook</li>
            <li class="list-group-item">Gmail</li>
            <li class="list-group-item">Zalo</li>
            <li class="list-group-item">Skype</li>
          </ul>
        </div>