<!-- ** header ** -->
<header-nav test="abcabc"></header-nav>
<!-- ** header end ** -->
<div class="container-fluid" style="min-height: 100vh;">
    <div class="row">
            <div class="container pt-3" ui-view>
            </div>
    </div>
</div>
<footer>
    <div class="footer-center">
        <br>
        <h3>Hero Study Online</h3>
        <p>
            Mail: contact@herostudy.com<br>
            Địa chỉ: 234/23 Lê Đức Thọ, Gò Vấp, Hồ Chí Minh<br>
        </p>
        <p style="font-size: 15px; color: gray">© HeroStudy Training online course 2016 - 2019 All Rights Reserved</p>
        <p></p>

    </div>
</footer>