<div class="row mt-5">
    <!-- Ảnh bìa -->
    <div class="col-sm-12 col-md-6">
            <img style="max-width: 600px;" src="./resources/img/profile.png">
        </div>
    <!-- Form đăng ký -->
    <div class="col-sm-12 col-md-6 animated slideInUp">
        <div class="card shadow mt-5 card-profile">
            <div class="card-img-circle">
                <img src="/resources/img/students/{{$root.student.username}}.jpg">
            </div>
            <div class="card-header font-babloo d-flex justify-content-between">
                <a class="btn btn-info ml-auto" ui-sref="change-profile">Thay đổi</a>
            </div>
            <div class="card-body">
                <!-- Tài khoản -->
                <div class="form-group row">
                        <label class="col-sm-12 col-md-4 col-form-label">Tài khoản</label>
                        <div class="col-sm-12 col-md-8">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user-alt"></i></span>
                                </div>
                                <input type="text" class="form-control" readonly ng-model="$root.student.username">
                            </div>
                        </div>
                </div>

                <!-- Tài khoản -->
                <div class=" form-group row">
                        <label class="col-sm-12 col-md-4 col-form-label">Mật khẩu</label>
                        <div class="col-sm-12 col-md-8">
                            <button class="btn btn-outline-danger w-100" ui-sref="change-password">Đổi mật khẩu</button>
                        </div>
                </div>

                <!-- Họ tên -->
                <div class=" form-group row">
                        <label class="col-sm-12 col-md-4 col-form-label">Họ tên</label>
                        <div class="col-sm-12 col-md-8">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user-alt"></i></span>
                                </div>
                                <input type="text" class="form-control" readonly ng-model="$root.student.fullName">
                            </div>
                        </div>
                </div>

                <!-- Email -->
                <div class=" form-group row">
                        <label class="col-sm-12 col-md-4 col-form-label">Địa chỉ Email</label>
                        <div class="col-sm-12 col-md-8">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user-alt"></i></span>
                                </div>
                                <input type="text" class="form-control" readonly ng-model="$root.student.email">
                            </div>
                        </div>
                </div>

                <!-- Ngày sinh -->
                <div class=" form-group row">
                        <label class="col-sm-12 col-md-4 col-form-label">Ngày sinh</label>
                        <div class="col-sm-12 col-md-8">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user-alt"></i></span>
                                </div>
                                <input type="text" class="form-control" readonly ng-model="$root.student.birthday">
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>