<div class="row mt-5">
    <!-- Ảnh bìa -->
    <div class="col-sm-12 col-md-6 animated bounceInLeft">
        <img class="" src="./resources/img/phone-01.png" style="transform: scaleX(1)">
    </div>
    <!-- Form đăng ký -->
    <div class="col-sm-12 col-md-6 animated bounceInRight">
        <div class="card card-auth shadow mt-5">
            <div class="card-header font-babloo">
                ĐỔI THÔNG TIN CÁ NHÂN
            </div>
            <div class="card-body">
                <!-- Tài khoản -->
                <div class="form-group row">
                    <label class="col-sm-12 col-md-4 col-form-label">Họ Tên</label>
                    <div class="col-sm-12 col-md-8">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-user-alt"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="" ng-model="$.student.fullName">
                        </div>
                    </div>
                </div>

                <!-- Địa chỉ email -->
                <div class="form-group row">
                    <label class="col-sm-12 col-md-4 col-form-label">Địa chỉ email</label>
                    <div class="col-sm-12 col-md-8">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope"></i></span>
                            </div>
                            <input type="text" class="form-control" ng-model="$.student.email">
                        </div>
                    </div>
                </div>

                <!-- Ngày sinh -->
                <!-- <div class="form-group row">
                    <label class="col-sm-12 col-md-4 col-form-label">Ngày sinh</label>
                    <div class="col-sm-12 col-md-8">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
                            </div>
                            <input type="text" class="form-control" ng-bind="$.student.birthday" value="{{$root.student.birthday}}">
                        </div>
                    </div>
                </div> -->

                <!-- Giới tính -->
                <div class="form-group row">
                        <label class="col-sm-12 col-md-4 col-form-label">Giới tính</label>
                        <div class="col-sm-12 col-md-8">
                            <div class="input-group pt-1">

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" 
                                            type="radio" 
                                            name="gender" 
                                            id="male" 
                                            ng-model="$.student.gender" 
                                            ng-checked="$.student.gender == true"
                                            ng-value="true"
                                    >
                                    <label class="form-check-label" for="male">Nam</label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" 
                                            type="radio" name="gender" 
                                            id="female" 
                                            ng-model="$.student.gender" 
                                            ng-checked="$.student.gender == false"
                                            ng-value="false"
                                    >
                                    <label class="form-check-label" for="female">Nữ</label>
                                </div>
                            </div>
                        </div>
                    </div>



                <!-- Nút Đổi Mật Khẩu-->
                <div class="form-group row">
                    <label class="col-sm-12 col-md-4 col-form-label"></label>
                    <div class="col-sm-12 col-md-8">
                        <button name="btnRegister" class="btn btn-info w-100" ng-click="$.updateProfile()">Xác nhận</button>
                    </div>
                </div>


            </div>
        </div>
    </div>

</div>
</div>