<div class="row mt-5">
    <!-- Ảnh bìa -->
    <div class="col-sm-12 col-md-6 animated bounceInLeft">
            <img style="max-width: 500px;" src="./resources/img/computer-01.png">
        </div>
    <!-- Form đăng ký -->
    <div class="col-sm-12 col-md-6 animated bounceInRight">
        <div class="card card-auth shadow mt-5">
            <div class="card-header font-babloo">
                LẤY LẠI MẬT KHẨU
            </div>
            <div class="card-body">
                <form name="formForgetPassword" ng-submit="$.showPassword()">

                    <!-- Tài khoản -->
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-3 col-form-label">Tài khoản</label>
                        <div class="col-sm-12 col-md-9">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-user-alt"></i></span>
                                </div>
                                <input type="text" name="username" ng-model="$.username" class="form-control" required minlength="6" pattern="^[a-zA-Z0-9\s]{1,}$">
                            </div>
                            <span class="text-danger" ng-messages="formForgetPassword.username.$error" ng-show="formForgetPassword.username.$dirty">
                                <span ng-message="required">Tài khoản đang để trống</span>
                                <span ng-message="pattern">Tài khoản chứa ký tự không hợp lệ</span>
                                <span ng-message="minlength">Tài khoản có độ dài quá ngắn</span>
                            </span>
                        </div>
                    </div>

                    <!-- Email -->
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-3 col-form-label">Địa chỉ Email</label>
                        <div class="col-sm-12 col-md-9">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                </div>
                                <input type="email" name="email" class="form-control" ng-model="$.email">
                            </div>
                            <span class="text-danger" ng-messages="formForgetPassword.email.$error" ng-show="formForgetPassword.email.$dirty">
                                    <span ng-message="required">Vui lòng nhập Email</span>
                                    <span ng-message="email">Email nhập vào không hợp lệ</span>
                                </span>
                        </div>
                    </div>
    
                    <!-- Mật khẩu -->
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-3 col-form-label">Mật khẩu</label>
                        <div class="col-sm-12 col-md-9">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
                                </div>
                                <input type="text" name="password" ng-model="$.password" class="form-control" readonly>
                            </div>
                        </div>
                    </div>
    
    
                    <!-- Nút Đăng Ký -->
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-3 col-form-label"></label>
                        <div class="col-sm-12 col-md-9">
                            <button name="btnRegister" type="submit" class="btn btn-danger w-100" ng-disabled="formForgetPassword.$invalid" >Lấy lại mật khẩu</button>
                        </div>
                    </div>
    
                    <!-- Link Đăng ký-->
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-3 col-form-label"></label>
                        <div class="col-sm-12 col-md-9 text-center">
                                <hr>
                                Bạn đã có tài khoản chưa? <a ui-sref="register">Đăng ký ngay</a>
                        </div>
                    </div>
                </form>


            </div>
        </div>
    </div>

</div>
</div>