<div class="row animated slideInUp">
        <div class="col-sm-12 col-md-6 mb-4">
            <div class="media position-relative border p-3 rounded shadow-sm p-5">
                <img src="resources/img/worldwide-location.png" width="128" height="128" class="mr-3" alt="...">
                <div class="media-body">
                  <h5 class="mt-0">Địa chỉ: Cơ Sở 1 - Nam Kỳ Khởi Nghĩa</h5>
                  <p> 391A Nam Kỳ Khởi Nghĩa, Q. 3, TP. Hồ Chí Minh
                      (028) 3526 8799 – (028) 62523434</p>
                </div>
              </div>
        </div>
        <div class="col-sm-12 col-md-6 mb-4">
            <div class="media position-relative border p-3 rounded shadow-sm p-5">
                <img src="resources/img/worldwide-location.png" width="128" height="128" class="mr-3" alt="...">
                <div class="media-body">
                  <h5 class="mt-0">Địa chỉ: Cơ Sở 2 - Nguyễn Kiệm</h5>
                  <p> 778/B1 Nguyễn Kiệm, P.4, Q. Phú Nhuận, TP. Hồ Chí Minh
                      (028) 3526 8799 – (028) 62523434</p>
                </div>
              </div>
        </div>
        <div class="col-sm-12 col-md-6 mb-4">
            <div class="media position-relative border p-3 rounded shadow-sm p-5">
                <img src="resources/img/facbook-icon-png-4.jpg" width="128" height="128" class="mr-3" alt="...">
                <div class="media-body">
                  <h5 class="mt-0">Facebook: Nguyễn Đại Hào</h5>
                  <p><a href="https://www.facebook.com/DuckyLuckVN">https://www.facebook.com/DuckyLuckVN</a>
                    <br> Quản viên của website, người sáng lập và chịu trách nhiệm về các vấn đề phát sinh tài trang web.</p>
                </div>
              </div>
        </div>
        <div class="col-sm-12 col-md-6 mb-4">
            <div class="media position-relative border p-3 rounded shadow-sm p-5">
                <img src="resources/img/gmail (1).png" width="128" height="128" class="mr-3" alt="...">
                <div class="media-body">
                  <h5 class="mt-0">Gmail: daihao12mc@gmail.com</h5>
                  <p>Các thông tin liên hệ hợp tác, báo lỗi hoặc triển khai kế hoạch vui lòng liên lạc vào gmail trên để được trợ giúp nhanh nhất.</p>
                </div>
              </div>
        </div>
      </div>